In [1]:
import pandas as pd

df = pd.read_csv("../Data/cleaned_data.csv")
df.head()

,bhk,area,price,age,type,locality,region,status
0,3,685,250.00,0,Apartment,Lak And Hanware The Residency Tower,Andheri West,Ready to move
1,2,640,52.51,0,Apartment,Radheya Sai Enclave Building No 2,Naigaon East,Under Construction
2,2,610,173.00,0,Apartment,Romell Serene,Borivali West,Under Construction
3,2,876,59.98,0,Apartment,Soundlines Codename Urban Rainforest,Panvel,Under Construction
4,2,659,94.11,0,Apartment,Origin Oriana,Mira Road East,Under Construction

In [2]:
X = df.drop('price', axis=1)
y = df['price']

In [3]:
X.dtypes

bhk          int64
area         int64
age          int64
type        object
locality    object
region      object
status      object
dtype: object

In [4]:
X.select_dtypes(include='object').columns

Index(['type', 'locality', 'region', 'status'], dtype='object')

In [5]:
X_encoded = pd.get_dummies(X, drop_first=True)

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42
)